
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Chris Matthews, Steven Len, Amobi Daba">
    <title>What to Watch?</title>
   

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    
    <!-- Custom styles -->
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h2 class="float-md-start mb-0">What to Watch?</h2>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        {% if session %}
            <a class="nav-link active" href="/write_review">Write Review</a>
        {% endif %}
        <a class="nav-link" href="/reviews">Read Reviews</a>
        {% if session %}
            <a class="nav-link" href="/logout">Sign Out</a>
        {% else %}
            <a class="nav-link" href="/signin">Join/Sign In</a>
        {% endif %}
      </nav>
    </div>
  </header>

  <main id="main" class="px-3 h-75">
    <div class="m-5 p-5">
        <h4 class="mt-5 mx-5 text-start" >Add My Review</h4>
        <form class="mt-1" action='/add_review' method='post'>  
          <div class="row pt-2">
              <p class="col-3 text-end">Title:</p>
              <p class="col-5 text-start">{{video.title}}</p>
          </div>
          <div class="row pt-2">
            <p class="col-3 text-end">Platform:</p>
            <p class="col-5 text-start">{{video.service.name}}</p>
          </div>
          <div class="row pt-2">
            <p class="col-3 text-end">Type:</p>
            <p class="col-5 text-start">{{video.type}}</p>
          </div>
          <div class="row pt-2">
            <p class="col-3 text-end">Category:</p>
            <p class="col-5 text-start">{{video.category}}</p>
          </div>
          <div class="row form-group pt-2">
            <label class="col-3 text-end" for="rating">Rating:</label>
            <input type="hidden" name="video_id" value="{{video.id}}">
            <input type="number" class="col-1 mx-2" name="rating" min="1" max="10" placeholder="">
            <span class="col-2 text-start text-warning"><strong>out of 10 ★</strong></span>
          </div>          
          <div class="row form-group pt-2">
              <label class="col-3 text-end" for="comments">Comments:</label>
              <textarea rows="5" class="col-5 mx-2" name="comments" placeholder=""></textarea>
            </div>
            <div class="row form-group ps-5 pt-2">
                <span class="col-3"></span>
                <input type="submit" class="mx-5 col-2 btn-primary" value="Submit">
          </div>
      </form>
    </div>
  </main>

  <footer class="mt-auto text-white-50">
    <p>A Community Site for Recommending and Discovering Streaming Media.</p>
  </footer>
</div>


    
  </body>
</html>
