
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Chris Matthews, Steven Len, Amobi Daba">
    <title>What to Watch?</title>
   

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    
    <!-- Custom styles -->
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h2 class="float-md-start mb-0">What to Watch?</h2>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Read Reviews</a>
        <a class="nav-link" href="#">Join/Sign In</a>
      </nav>
    </div>
  </header>

  <main id="main" class="px-3 h-75">
    <div class="m-5 p-5">
        <h4 class="mt-5 mx-5 text-start" >Recent Reviews</h4>
        <table class="mx-5">
            <tr>
                <td class="px-5">
                    <svg class="bd-placeholder-img" width="220" height="175" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <p><strong>Title</strong> <span class="text-warning">7.5/10 ★</span>
                    </td>
                <td class="px-5">
                    <svg class="bd-placeholder-img" width="220" height="175" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <p><strong>Title</strong> <span class="text-warning">8.5/10 ★</span>
                </td>
            </tr>
            <tr>
                <td class="px-5">
                    <svg class="bd-placeholder-img" width="220" height="175" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <p><strong>Title</strong> <span class="text-warning">9.5/10 ★</span>
                    </td>
                <td class="px-5">
                    <svg class="bd-placeholder-img" width="220" height="175" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <p><strong>Title</strong> <span class="text-warning">8.0/10 ★</span>
                </td>
            </tr>
        </table>
    </div>
  </main>

  <footer class="mt-auto text-white-50">
    <p>A Community Site for Recommending and Discovering Streaming Media.</p>
  </footer>
</div>


    
  </body>
</html>
