
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Chris Matthews, Steven Len, Amobi Daba">
    <title>What to Watch?</title>
   

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    
    <!-- Custom styles -->
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h2 class="float-md-start mb-0">What to Watch?</h2>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Read Reviews</a>
        <a class="nav-link active" href="#">Join/Sign In</a>
      </nav>
    </div>
  </header>

  <main id="main" class="px-3 h-75">
    <div class="m-5 p-5 w-75">
      <h3 class="mx-5 mt-5 text-success">Already Registered? Sign In</h3>
      <form action='/login' method='post'>  
          <div class="row form-group pt-2">
              <label class="col-3 text-end" for="email">Email Address:</label>
              <input type="text" class="col-5 mx-2" name="email" placeholder="">
          </div>
          <div class="row form-group pt-2">
              <label class="col-3 text-end" for="password">Password:</label>
              <input type="password" class="col-5 mx-2" name="password" placeholder="">
              <input type="submit" class="col-2 btn-primary" value="Submit">
          </div>
      </form>
      <h3 class="mt-5 text-success">Not Registered? Sign Up</h3>
      <form action='/register' method='post'>
        <div class="row form-group pt-2">
            <label class="col-3 text-end" for="first_name">First Name:</label>
            <input type="text" class="col-5 mx-2" name="first_name" placeholder="">
        </div>
        <div class="row form-group pt-2">
            <label class="col-3 text-end" for="last_name">Last Name:</label>
            <input type="text" class="col-5 mx-2" name="last_name" placeholder="">
        </div>
        <div class="row form-group pt-2">
            <label class="col-3 text-end" for="email">Email Address:</label>
            <input type="text" class="col-5 mx-2" name="email" placeholder="">
        </div>
        <div class="row form-group pt-2">
            <label class="col-3 text-end" for="password">Password:</label>
            <input type="password" class="col-5 mx-2" name="password" placeholder="">
        </div>
        <div class="row form-group pt-2">
            <label class="col-3 text-end" for="confirm">Confirm Password:</label>
            <input type="password" class="col-5 mx-2" name="confirm" placeholder="">
            <input type="submit" class="col-2 btn-primary" value="Submit">
        </div>
    </form>                
      <!-- {% with messages = get_flashed_messages() %} 
          {% if messages %}                           
              {% for message in messages %}        
                  <p class='error'>{{message}}</p>   
              {% endfor %}
          {% endif %}      
      {% endwith %}         -->
    </div>
  </main>

  <footer class="mt-auto text-white-50">
    <p>A Community Site for Recommending and Discovering Streaming Media.</p>
  </footer>
</div>


    
  </body>
</html>
