
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Chris Matthews, Steven Len, Amobi Daba">
    <title>What to Watch?</title>
   

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    
    <!-- Custom styles -->
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h2 class="float-md-start mb-0">What to Watch?</h2>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        {% if session %}
            <a class="nav-link" href="/write_review">Write Review</a>
        {% endif %}
        <a class="nav-link active" href="/reviews">Read Reviews</a>
        {% if session %}
            <a class="nav-link" href="/logout">Sign Out</a>
        {% else %}
            <a class="nav-link" href="/signin">Join/Sign In</a>
        {% endif %}
      </nav>
    </div>
  </header>

  <main id="main" class="px-3 h-75">
    <div class="m-5 p-5">
        
        <table class="mt-5 mx-5">
            <tr>
              <td class="col-3">
                  <a href="{{video.info_url}}" alt="imdb info"><img src="{{video.img_url}}" height="220" alt="cover photo"></a>
              </td>              
              <td class="col-8">
                  <h3 class="mt-5 mx-5 w-75 text-center" >{{video.title}}</h3>
                  <div class="mx-2 row flex justify-content-center text-center">
                    <span class="fs-6 col-5 text-secondary">Type: <strong>{{video.type}}</strong></span>
                    <p class="fs-6 ms-1 col-6 text-secondary">Category: <strong>{{video.category}}</strong></p>
                  </div>  
                  <div class="mx-2 row flex justify-content-center text-center">
                    <span class="fs-5 col">Platform: <a target="_blank" href="{{video.service.website}}" alt="service"><img src="{{video.service.logo_url}}" width="30" alt="service"></a><span class="fs-6 text-secondary">({{video.service.name}})</span></span>
                  </div>  
                  <div class="mx-5 row flex justify-content-center text-center">
                    <span class="fs-3 col-3">Rating:</span>
                    <p class="fs-2 ms-1 col-7 text-warning">{{video.avg_rating}}/10 ★</p>
                  </div>                  
              </td>
            </tr>
        </table>
        <div class="mx-5 row mt-2 flex">
          <div class="col-6 text-start"><h3 class="mt-3">User Reviews</h3></div>
          {% if not reviewed %}
            <div class="mt-4 col-3 text-end"><a href="/add_review/{{video.id}}">Add My Review</a></div>
          {% endif %}
        </div>
        </tr>
        <div class="mx-5 table2-scroll-y table2-scrollbar text-start col-8">
          <table class="table table-dark table-striped"">
          {% for r in video.reviews %}
              <tr><td class="col-2 text-center text-warning">{{r.rating}}</td><td><span>{{r.comments}}</span></td></tr>
          {% endfor %}
          </table>
          </div>
    </div>
  </main>

  <footer class="mt-auto text-white-50">
    <p>A Community Site for Recommending and Discovering Streaming Media.</p>
  </footer>
</div>


    
  </body>
</html>
